html,
body {
    background-color: #3c4f56;
    font-family: "Inknut Antiqua", serif;
}

header {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    padding-right: 5vw;
    user-select: none;
}

header nav {
    column-gap: clamp(4rem, 11.5375rem, 5vw);
}


nav a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.inknut-antiqua-semibold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.25rem;
    color: #DCDCDC;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding-right: 10.5625rem;
    font-size: 1.75rem;
}

.fill-primary-100 {
    color: #dcdcdc;
}

.stroke-primary-100 {
    text-shadow: 0.75px 0 #cf7c00, -0.75px 0 #cf7c00, 0 0.75px #cf7c00, 0 -0.75px #cf7c00,
        0.75px 0.75px #cf7c00, -0.75px -0.75px #cf7c00, 0.75px -0.75px #cf7c00, -0.5px 0.75px #cf7c00;
}

.stroke-secondary-100 {
    text-shadow: 0.75px 0 #2e5e61, -0.75px 0 #2e5e61, 0 0.75px #2e5e61, 0 -0.75px #2e5e61,
        0.75px 0.75px #2e5e61, -0.75px -0.75px #2e5e61, 0.75px -0.75px #2e5e61, -0.5px 0.75px #2e5e61;
}

.main {
    width: 100%; 
    margin: 0;
    padding: 0;
    container-type:inline-size;
}

.main img {
    min-width: 100cqw;
    height: auto;
    max-width: 100%;
    padding-top: 0.3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    -webkit-user-drag: none;
    object-fit: cover;
}

footer {
    padding-top: 0.3rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    column-gap: 10rem;
    padding-right: 12rem;
}

.footer-text {
    display: flex;
    align-items: end;
    padding-right: 5vw;
    font-size: 2rem;
    padding-bottom: 2.1rem;
    user-select: none;
}

.covers-head {
    font-size: 2.75rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    padding-top: 0.1rem;
    padding-left: 7.75rem;
    column-gap: 37.625rem;
    user-select: none;
}

.videos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 6rem;
    row-gap: 0.8625rem;
    flex-wrap: wrap;
}

.videos iframe {
    border: 5px solid #76ABAE;
    border-width: 0.2rem;
    border-radius: 0.2rem;
}

.equip-head {
    font-size: 2.75rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    padding-top: 0.1rem;
    padding-left: 7.75rem;
    column-gap: 34.625rem;
    user-select: none;
}

.equip-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 4.75rem;
    padding-right: 4.75rem;
    gap: 2rem;
}

.equip-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(20% - 1rem);
}

.equip-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 5px solid #76ABAE;
    border-radius: 0.2rem;
    -webkit-user-drag: none;
    user-select: none;
}

.equip-item p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

@media (max-width: 1280px) {
    .equip-item {
        width: calc(50% - 1rem);
    }
}

@media (max-width: 720px) {
    .equip-item {
        width: 100%;
    }

    .equip-item img {
        width: 80%;
    }
}

.up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 1rem;
}

.aboutme-head {
    font-size: 2.75rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    padding-top: 0.1rem;
    padding-left: 7.75rem;
    column-gap: 34.625rem;
    user-select: none;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
    margin-top: 3rem;
    padding: 0 4rem;
    flex-wrap: wrap;
}

.info img {
    width: 25%;
    height: auto;
    border-radius: 0.2rem;
    -webkit-user-drag: none;
    border: 5px solid #76ABAE;
    border-width: 0.2rem;
    border-radius: 0.2rem;
}

.info p {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.6;
    color: #DCDCDC;
    max-width: 60%;
}

.info b {
    color: #D03957;
}

.info b:hover {
    color:#ff5678
}

@media (max-width: 1280px) {
    .info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info img {
        width: 30%;
    }

    .info p {
        max-width: 50%;
    }
}

@media (max-width: 720px) {
    .aboutme-head {
        font-size: 2rem;
        padding-left: 2rem;
        justify-content: center;
        text-align: center;
        column-gap: 1rem;
    }

    .info img {
        width: 100%;
    }

    .info p {
        font-size: 1.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 1280px) {
    .logo {
        font-size: 1.5rem;
    }

    header {
        padding-right: 5vw;
    }

    .footer-text {
        font-size: 1.5rem;
        padding-right: 3vw;
    }

    .main img {
        width: 90%;
    }
}

@media (max-width: 720px) {
    body {
        font-size: 14px;
    }

    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav {
        flex-direction: column;
        row-gap: 1rem;
    }

    .logo {
        font-size: 1.2rem;
        padding-right: 0;
    }

    .main img {
        width: 100%;
        height: auto;
    }

    footer {
        flex-direction: column;
        text-align: center;
        row-gap: 1rem;
        padding-right: 0;
    }

    footer img {
        width: 50px;
        height: auto;
    }
}

a:hover {
    transform: scale(1.1);
}

a img:hover {
    transform: scale(1.1);
}

p a {
    text-decoration: none;
}

.logo svg:hover {
    transform: scale(1.1);
}

.logo svg {
    cursor: pointer;
}

.logo svg:active {
    transform: scale(0.95); 
    opacity: 0.7; 
}

a:active {
        transform: scale(0.95);
        opacity: 0.7;  
    }

.fade-in {
  opacity: 0.2;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}